---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Who am I"
  pubDate={new Date("Saturday 03 31 2023")}
  updatedDate={new Date("Saturday 03 31 2023")}
  heroImage="/placeholder-about.jpg"
>
  <p>
    I am a programmer that is interested in all things web. I decided to start
    this blog to increase my experience, learn and share knowledge I learned.
  </p>

  <p>Feel Free to shoot me a message if you want to talk.</p>

  <p>This blog is written using astro.</p>
</Layout>
