---
import { GITHUB_URL, LINKEDIN_URL } from "@src/consts";
import { Icon } from "astro-icon";
const today = new Date();

const socials = [
  {
    link: LINKEDIN_URL,
    icon: "logos:linkedin-icon",
  },
  {
    link: GITHUB_URL,
    icon: "logos:github-icon",
  },
];
---

<footer>
  <span>
    &copy; {today.getFullYear()} Mina Sameh Wadie. All rights reserved.
  </span>
  <br />
  <span>Built with <a href="https://astro.build/">Astro</a>.</span>
  <ul>
    {
      socials.map((item) => (
        <li>
          <a href={item.link}>
            <Icon width={40} name={item.icon} />
          </a>
        </li>
      ))
    }
  </ul>

  <style>
    /*
    footer a {
    }
    */
    footer {
      /* background-color: orange; */
      overflow: visible;
      position: absolute;
      border-top: 1px solid #eaeaea;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 10px;
      text-align: center;
    }

    /* Make the ul list horizontal */
    footer ul {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 5;
    }

    footer li {
      margin: 0 10px;
    }

    @media (max-width: 768px) {
      footer {
        position: relative;
        margin-top: 50px;
        padding: 25px 0;
      }
    }
  </style>
</footer>
